html {
	font-family: arial;
	background: url('../img/bg.png');
}

.main {
	margin-top: 15%;
	margin-left: 10%;
	width: 60%;
}

.greeting {
	color: #999;
	font-size: 14px;
}

.main h1 {
	font-size: 50px;
	line-height: 20px;
}

.main h1 span {
	color: #EC4A32;
	font-size: 64px;
	font-family: 'Dancing Script';
}

.summary {
	line-height: 32px;
}

.social-icon {
	width: 30px;
}